  <section class="section section--contact" id="contact">
      <h2>Contact me</h2>
      <p>
        You can always find me through any of these emails or by telepathic communication, feel free to chose either: <br />

        <div class="contact">
          <a href="mailto:misaelmdev@gmail.com"><h2>THIS</h2><span class="hidden">misaelmdev@gmail.com</span></a>
        </div>
        <h2>or</h2>
        <br />
        <div class="contact">
          <a href="mailto:contact@misaelm.com"><h2>THAT</h2><span class="hidden">contact@misaelm.com</span></a>
        </div>
      </p>
    </section>

    <p>
      <i>In this electronic age we see ourselves being translated more and more into the form of information, moving toward the technological extension of consciousness.</i> <br>
      --Marshall McLuhan
    </p>
    <h2>&infin;God is infinitely small&infin;</h2>