<header class="main_h" data-header>
	<div class="row">
		<a class="logo" href="#">M/M</a>

		<div class="mobile-toggle" data-mobile-toggle>
			<span></span>
			<span></span>
			<span></span>
		</div>

		<nav>
			<ul>
        {% for item in site.data.navbarItems %}
          <li class="navbar__item">
            <a 
              class="navbar__item-link" 
              href="{{ item.href }}" 
              data-nav-link
            > 
              {{ item.title }}
            </a>
          </li>
        {% endfor %}
			</ul>
		</nav>
	</div>
</header>
