<header class="header" data-header>
	<div class="header__block">
		<a class="header__logo" href="#">M/M</a>

		<div class="navbar__toggle--mobile" data-toggle-mobile>
			<span></span>
			<span></span>
			<span></span>
		</div>

		<nav class="navbar">
			<ul class="navbar__list">
        {% for item in site.data.navbarItems %}
          <li class="navbar__item">
            <a 
              class="navbar__item-link" 
              href="{{ item.href }}" 
              data-nav-link
            > 
              {{ item.title }}
            </a>
          </li>
        {% endfor %}
			</ul>
		</nav>
	</div>
</header>
