 <section id="projects">
      <div>
        <h2>Older Projects (update comming soon..)</h2>

        <p>
          Selected projects worked on during the General Assembly course and beyond, demostrating some interests I have as a developer. I have spent my time building applications that can be applied to the world of functionality, delivering not only the components of the methodologies learnt, but also necessary elements to concrete the initial conceptual framework. Social impact, interaction, transmedia narrative, multidisciplinary and design thinking are some of the aspects that can be found in my practice as a developer, or at least that is what I have aimed to achieve so far.

        </p>
      </div>
      <div class="gallery">
        {% for project in site.data.projects %}
          <div class="gallery-item">
            <a href="{{ project.href }}" target="_blank"><img class="gallery-image" src="{{ project.src }}" alt="landing page for website using animation with brownian motion on title"></a>
          </div>
        {% endfor %}
      </div>

    </section>