.button {
	color: $eigenfrau;
  cursor: pointer;
	box-shadow: $eigenfrau 0 0 0 rem(2) inset;
  font-family: 'Roboto', sans-serif;-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: flex;
	max-width: rem(180);
	text-decoration: none;
	border-radius: rem(4);
	padding: rem(20) rem(30);

  &:hover {
    color: rgba(255, 255, 255, 0.85);
	  box-shadow: $eigenfrau 0 0 0 rem(40) inset;
  }

  &__container {
    	margin: rem(20) auto;
  }
}