.cursor-circle {
  &--large {
    border: 2px solid $eigenfrau;
    border-radius: 50%;
    color: $eigenfrau;
    height: 30px;
    position: relative;
    width: 30px;
  }

  &--small {
    width: 7px;
    height: 7px;
    background-color: $eigenfrau;
    border-radius: 50%;
    margin-bottom: 20rem;
  }
}


.pointed{
  
}
