$cusor-size--large: 30px;
$cusor-size--small: 15px;

.cursor-circle {
  &--large {
    border: rem(2) solid $eigenfrau;
    border-radius: 50%;
    color: $eigenfrau;
    height: $cusor-size--large;
    position: relative;
    width: $cusor-size--large;
  }

  &--small {
    width: $cusor-size--small;
    height: $cusor-size--small;
    background-color: $eigenfrau;
    border-radius: 50%;
    margin-bottom: 20rem;
  }
}
