@import '0-base/0-base_dir';

%section-basic {
  align-content: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: rem(48);
}

.section {
  background-color: rgba(#7c8887, 0.24);
  border-bottom: 3px solid rgba(48,48,57,0.1);
  color: white;
  display: flex;
  min-height: 100vh;
  width: 100%;

  &--about {
    @extend %section-basic;
  }

  &--skillset {
    color: $eigenfrau;
    gap: 1rem;
    @extend %section-basic;
  }

  &--projects {
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
  }

  &--contact {
    color: $eigenfrau;
    @extend %section-basic;
  }
}


.icon {
  font-size: 4em;
  margin: 0.5em;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  gap: 2rem;
  padding-bottom: 2rem;
}

.gallery-item {
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 400ms ease-out;

  &:hover {
    transform: scale(1.15);
  }
}
@media (max-width: 500px) {
  .icon {
    font-size: 2em;
    margin: 0.5em;
  }

  .gallery {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1rem;
  }

  .gallery-item {
    margin: 1rem;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }

  .gallery-image {
    height: 10vh;
    object-fit: cover;
    transition: transform 400ms ease-out;

    &:hover {
      transform: scale(1.15);
    }
  }
}

.contact {
  a {
    color: white;

    &:hover {
      opacity: 0.5;
    }
  }
.hidden {
    opacity: 0;
    display: flex;
    justify-content: center;
    transition: all 0.2s ease;
  }
}

.contact:hover .hidden {
  opacity: 1;
  
}
