@import '0-base/0-base_dir';

.main_h {
	position: fixed;
	top: 0;
	max-height: rem(70);
	z-index: 999;
	width: 100%;
	padding-top: rem(17);
	background: none;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
	top: rem(-100);
	padding-bottom: rem(6);
	font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 766px) {
	.main_h {
		padding-top: rem(25);
	}
}

.open-nav {
	max-height: rem(400) !important;
}
.open-nav .mobile-toggle {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}

.sticky {
	background-color: rgba(255, 255, 255, 0.93);
	opacity: 1;
	top: 0px;
	border-bottom: 1px solid gainsboro;
}

.logo {
	width: rem(50);
	font-size: rem(25);
	color: #8f8f8f;
	text-transform: uppercase;
	float: left;
	display: block;
	margin-top: 0;
	line-height: 1;
	margin-bottom: rem(10);
}
@media only screen and (max-width: 766px) {
	.logo {
		float: none;
	}
}

nav {
	float: right;
	width: 60%;
}
@media only screen and (max-width: 766px) {
	nav {
		width: 100%;
	}
}
nav ul {
	list-style: none;
	overflow: hidden;
	text-align: right;
	float: right;
}
@media only screen and (max-width: 766px) {
	nav ul {
		padding-top: rem(10);
		margin-bottom: rem(22);
		float: left;
		text-align: center;
		width: 100%;
	}

	.row {
		display: block !important;
	}
}
nav ul li {
	display: inline-block;
	margin-left: rem(35);
	line-height: 1.5;
}
@media only screen and (max-width: 766px) {
	nav ul li {
		width: 100%;
		padding: 1em 0;
		margin: 0;
	}
}

.mobile-toggle {
	display: none;
	font-size: rem(20);
	position: absolute;
	right: rem(22);
	top: 0;
	width: rem(30);
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
	.mobile-toggle {
		display: block;
	}
}
.mobile-toggle span {
	width: rem(30);
	height: rem(4);
	margin-bottom: rem(6);
	border-radius: rem(1000);
	background: #8f8f8f;
	display: block;
}

.row {
	width: 100%;
	max-width: rem(940);
	margin: 0 auto;
	position: relative;
	padding: 0 2%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar__item-link {
	color: #888888;
	text-transform: uppercase;
	font-size: rem(12);
}